:root {
  font-family: 'Roboto', sans-serif;
}
  
body {
  background-color: #009579;
}

.container {
    padding: 20px;
}

form {
   border-radius: 5px;
   margin: 0 auto;
   width: 50%;
   background-color: #f2f2f2;
   padding: 10px;

}

.entry {
   padding: 10px;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.read {
   background-color: #E8E8E8;
}
/* css referenced from w3 schools*/
#datepicker:focus, #gallons:focus {
  border: 3px solid #555;
}

input:focus {
  outline: none;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}

label {
  font-size: 20px;
}
