<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         convertDeprecationsToExceptions="true"
         failOnWarning="true"
         verbose="true"
         colors="true">
        <!--forceCoversAnnotation="true" 
                 beStrictAboutCoversAnnotation="true"
                 failOnRisky="true"
                 beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
-->

    <testsuites>
        <testsuite name="default">
            <directory>./UnitTests/QuoteFormTest.php</directory>
            <directory>./UnitTests/FuelQuoteHistoryTest.php</directory>
            <directory>./UnitTests/PriceTest.php</directory>
            <directory>./UnitTests/LoginTest.php</directory>
            <directory>./UnitTests/RegisterTest.php</directory>
			<directory>./UnitTests/ProfileTest.php</directory>
			<directory>./UnitTests/SignupTest.php</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory>./QuoteForm.php</directory>
            <directory>./FuelQuoteHistory.php</directory>
            <directory>./Price.php</directory>
            <directory>./Login.php</directory>
            <directory>./Register.php</directory>
			<directory>./Profile.php</directory>
			<directory>./Signup.php</directory>
        </include>
    </coverage>
</phpunit>
